<header>
    <nav>
        <ul>
            <a href="/"> <li> Home </li> </a>
            <a href="/cadastro"> <li> Register </li> </a>
        </ul>
    </nav>

    <a href="/">
        <img id="logo" src="img/logo hello.gif" alt="Logo Hello Pokedex">
    </a>
    
    <h1><a href="/"> <li> Pokedex </li> </a></h1>

</header> 
