<header>
        <a href="/">
            <img id="logo" src="/Pokedex/public/img/logo hello.gif" alt="Logo Hello Pokedex">
        </a>
        <nav>
            <ul>
                <a href="/"> <li> Home </li> </a>
                <a href="/cadastro"> <li> Register </li> </a>
            </ul>
        </nav>
</header>