<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/style.css" rel="stylesheet">
        <title>Cadastro Pokédex</title>
    </head>

    <body>
        <%- include('./partials/header.ejs') %>
        <main>
            <form method="post" action="/cadastro">
                <fieldset id="field_main">
                    <legend> Register your pokemon </legend>
                
                    <fieldset>
                        <label for="name"> Name </label>
                        <input type="text" name="name">
                    </fieldset>

                    <fieldset>
                        <label for="type"> Type </label>
                        <input type="type" name="type">
                    </fieldset>

                    <fieldset>
                    <label for="image">Link Image:</label>
                    <input type="url" id="image" name="image">
                    </fieldset> 

                    <fieldset>
                        <label for="text"> Description </label>
                        <input type="text" name="description">
                    </fieldset>

                    <fieldset>
                        <label for="iframe"> Heigth </label>
                        <input type="text" name="height">
                    </fieldset>

                    <fieldset>
                        <label for="text"> Weigth </label>
                        <input type="text" name="weight">
                    </fieldset>

                    <fieldset>
                        <label for="text">Category </label>
                        <input type="text" name="category">
                    </fieldset>

                    <fieldset>
                        <label for="text">Abilities </label>
                        <input type="text" name="abilities">
                    </fieldset>

                    <button type="submit"> To send </button>
                </fieldset>
            </form>

            </section>
        </main>
        <%- include('./partials/footer.ejs')  %>
    </body>
</html>